- case missionary_events.state
- when "awaiting_call"
  = link_to "mission call", enter_mission_call_missionary_path(missionary_events)
- when "call_received"
  = link_to "set apart", set_apart_missionary_path(missionary_events), {:class => 'colorbox'}
- when "serving"
  = link_to "release", release_missionary_path(missionary_events), {:class => 'colorbox'}