body {
  font-family: 'helvetica';
  font-size: 14px; }

th {
  text-align: left; }

tr td {
  vertical-align: top; }
  tr td p {
    margin: 0px; }

table tr th, table tr td {
  border-top: 1px solid #ccc;
  height: 30px;
  padding: 7px 3px; }
