= "Dear #{@missionary.first_name},"

I was just notified that the stake president has submitted your missionary application.  Will you kindly send me an email when you receive your mission call and advise me of the following information:

\- name and address of your mission
\- language 
\- date you've been asked to report to the MTC

Thanks for your help with this, and congratulation!

Regards,
Scott Wolff
