= "Dear #{@missionary.first_name},"

Congratulations on your mission call.  Here is some important information you'll need as you start you're final preparations to leave to serve a mission.  

You'll need to be set apart by the stake president the day before you leave for the MTC.  Will you kindly advise me of your travel plans as soon as you are able to so that I can start to make arrangements for your setting apart.

Also, the stake president likes to interview missionaries a few days prior to their entering the MTC.  As you're departure date nears, please contact me to make arrangements for this interview.

Regards,
Scott Wolff