%ul#nav
  %li= link_to "In Process", missionaries_path
  %li= link_to "Returned Missionaries", returned_missionaries_path
  %li= link_to "New Missionary", new_missionary_path
  %li= link_to "Languages", missionary_languages_path
  